@media (min-width: 991px) {
    .header-menu {
        display: flex !important;
    }

    #menu-toggle {
    display: none;
     }

    .mobile-menu {
        display: none !important;
    }
}

@media (min-width: 991px) {

    .hero-custom-img img {
        display: block;
    }

    .hero-custom-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width: 991px) {
    .sub-title-t {
        text-align: center;
    }

    #toggleButton {

        font-size: 16px;
        cursor: pointer;
        display: block;

        position: fixed;
        right: 0;
        top: 20%;
        transform: translateY(-50%);

    }

    .open-custom {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #toggleButton svg {
        transform: rotate(-90deg);
    }

    #recentArticles {
        max-width: 100%;
        transition: all 0.5s ease-in-out;
        max-height: 70%;

        overflow-y: auto;
        padding-right: 10px;
    }

    .image-hero-main-dop {
       display: flex;
        justify-content: center;
        max-width: 300px;
    }


}


@media (max-width: 966px) {

    .img-main-1 {
        display: none;
    }

    .img-main-2 {
        display: none;
    }

}


@media (max-width: 870px) {

    .hero-custom-text {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width: 870px) {
    .form-wrapper {
        padding: 20px 40px;

    }

    .form-wrapper-custom-text {
        font-size: 16px;
    }

    .select-button {
        padding: 10px 5px;
        font-size: 14px;
    }

    .cities-custom-background {
        padding: 50px 30px 60px 70px;
    }

    .main-title {
        font-size: 28px;
    }

    .main-sub-title {
        font-size: 20px;
    }

    .main-description {
        font-size: 20px;
    }
    .locations-custom-title2 {
        font-size: 20px;
    }
    .locations-custom-title3 {
        font-size: 20px;
    }
}




@media (max-width: 767px) {
    .form-wrapper-custom-text {
        font-size: 14px;
    }

    .select-button {
        padding: 10px 5px;
        font-size: 14px;
    }


    .provide-custom {
        padding-left: 65px;
    }

    .img-mario {
        max-width: 215px;
    }

    .prices-florida-custom-position {
        text-align: center;
    }

    .prices-florida-custom-pos {
        display: flex;
        justify-content: center;
    }

    .hero-custom-text {
        padding-right: 70px;
        padding-left: 70px;
    }

    .main-custom-title {
        font-size: 22px;
    }

    .main-custom-title2 {
        font-size: 16px;
    }

    .container-removal-title {

        font-size: 36px;

    }
    .locations-custom-title {

        font-size: 36px;

    }

    .footer-fixed-custom {
        font-size: 16px;
    }

    .footer-fixed-custom-call {
        font-size: 16px;
    }

    .custom-button-width {
        width: 100%;
    }

    .input-group {

        padding: 0;
    }

    .input-group-fixed {
        max-width: 100%;
    }
}


@media (max-width: 655px) {
    .image-hero-woman-img {
        max-width: 127%;

    }
}

@media (max-width: 630px) {

    .sub-title {
        font-size: 22px;
    }

    .mario-text {
        font-size: 14px;
    }

    .form-wrapper-label {
        font-size: 18px;
    }

    .main-sub-title {
        font-size: 16px;
    }
}

@media (max-width: 600px) {

    .form-wrapper-custom-text {
        font-size: 12px;
    }

    .provide-custom {
        padding-left: 45px;
    }

    .marion-custom-container {
        display: grid;;
        grid-template-rows: repeat(2, 1fr);;

    }

    .img-mario {
        max-width: 215px;
    }

    .sub-title {
        font-size: 22px;
    }

    .mario-text {
        font-size: 14px;
    }

    .custom-checkbox-label {
        font-size: 12px;
    }

    .main-description {
        font-size: 18px;
    }
    .locations-custom-title2 {
        font-size: 18px;
    }

    .locations-custom-title3 {
        font-size: 18px;
    }

    .locations-custom-title {
        padding: 18px 20px;
        text-align: center;
    }

}


@media (max-width: 575px) {

    .form-wrapper-custom-text {
        font-size: 12px;
    }

    .hero-custom-text {
        padding-right: 50px;
        padding-left: 50px;
    }

    .form-input-custom {;
        height: 40px;

    }

    .span-custom-color {

        font-size: 16px;
    }

    .form-wrapper {

        padding: 10px 20px;

    }

    .slick-next:before, .slick-prev:before {
        display: none;
    }



}

@media (max-width: 475px) {
    .img-fluid {
        max-width: 184px;
    }
}

@media (max-width: 430px) {

    .input-main-desc {
        display: none;
    }

    .input-main-mobile {
        display: block;
    }

    .input-group-mobile {
        position: relative;
        align-items: center;
        border-radius: .25rem;
        background: #87B7E0;
        padding: 5px 5px 5px 10px;
        text-align: center;
    }

    .custom-button-mobile {
        width: 100%;
        color: white;
    }

    .office-span {
        display: inline;
    }
}



@media (max-width: 400px) {

    .mario-text {
        font-size: 10px;
    }

    .img-main-2 {
        max-width: 291px;
    }


    .hero-custom-text {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main-custom-title {
        font-size: 18px;
    }

    .main-custom-title2 {
        font-size: 12px;
    }

    .reviews-custom-book-online {
        display: block;
    }

    .custom-button {
        margin-left: 0;
        margin-top: 10px;
    }

    .container-removal-title {
        font-size: 28px;
    }
    .locations-custom-title {
        font-size: 28px;
    }
    .img-fluid {
        max-width: 195px;
    }

    .text-center-over-image {
        top: 14%;
    }





    .main-title {
        font-size: 22px;
    }

}


@media (max-width: 340px) {
    .form-wrapper-custom-text {
        font-size: 8px;
    }

    .form-wrapper {
        padding: 10px 20px;
        max-width: 300px;

    }

    .select-button {
        font-size: 12px;

    }

    .text-center-over-image {
        top: 8%;
    }


}



